*.log
.DS_Store
Thumbs.db
/.fleet
/.idea
/.vscode
/.zed

.env
.env.*
!.env.example
/auth.json

/vendor
/bootstrap/cache/*
!.gitkeep

/storage/*.key
/storage/logs/*
/storage/pail
/storage/framework/*
!/storage/framework/cache
!/storage/framework/sessions
!/storage/framework/views

/node_modules
/public/build
/public/hot
/public/storage

.phpunit.result.cache
/.phpunit.cache

Homestead.json
Homestead.yaml

.phpactor.json
.nova
